.modalContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  @media (max-width: 48em) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.modal {
  width: 100%;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  color: #ff6b6b;
  padding: 10px 0;
}

.modalImage {
  height: 306px;
  object-fit: cover;
  border-radius: 8px;
}

.counterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 20px;
  background-color: #ececec;
  padding: 1.2px;
}

.priceDisplay {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

& :global(.mantine-Modal-header) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

& :global(.mantine-Modal-title) {
  flex: 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #ff6b6b;
}

& :global(.mantine-Modal-close) {
  position: absolute;
  right: 10px;
  top: 25%;
  width: 40px;
  height: 40px;
}

& :global(.mantine-Modal-content) {
  border-radius: 14px;
  max-height: 430px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media (max-width: 48em) {
  }
}
& :global(.style_modalContent__0WBL7) {
}
& :global(.mantine-Modal-close) {
  width: 40px;
  height: 40px;
}

.rightBarData {
  width: 23.75rem;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  padding: 0px 0px 0px 20px;
  @media (max-width: 48em) {
  }
}
.mainText {
  width: 328px;
  height: auto;
  line-height: 1.4;
  font-size: 16px;
}
.lowTwoButtons {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.counterButton {
  font-size: 30px;
  transform: scale(1.6);
}
